.ant-btn-primary {
  background-color: orangered !important;
  border-color: orangered !important;
}

.ant-pagination-item-active {
  border-color: orangered !important;
}

li.ant-pagination-item-active a {
  color: orangered !important;
}

.ant-menu-item-selected {
  background-color: orangered !important;
}

.ant-menu-item-selected span {
  color: white !important;
}

.ant-menu-item-active {
  color: orangered !important;
}